SUCAMEC/ConsumidorMessageQueueServer/Service References/ServicioTienda/WcfTiendaServRest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecibeSucamec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="intEstado" type="xs:int" />
        <xs:element minOccurs="0" name="strFechaRespuesta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodSucamec" type="xs:int" />
        <xs:element minOccurs="0" name="strNumeroLicencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEstadoAntecedentePolicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEstadoAntecedenteJudicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEstadoAntecedentePenal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibeSucamecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecibeSucamecResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>