SUCAMEC/Sucamec/WebSucamec/Service References/ServicioAntecedentes/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntidadAntecedente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadAntecedente" nillable="true" type="tns:EntidadAntecedente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadAntecedente" nillable="true" type="tns:ArrayOfEntidadAntecedente" />
  <xs:complexType name="EntidadAntecedente">
    <xs:sequence>
      <xs:element minOccurs="0" name="strCodigoAntecedente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strEstado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadAntecedente" nillable="true" type="tns:EntidadAntecedente" />
</xs:schema>