SUCAMEC/Sucamec/WebSucamec/Service References/ServicioAntecedentes/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="BuscarAntecedentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAntecedentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="BuscarAntecedentesResult" nillable="true" type="q1:ArrayOfEntidadAntecedente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>